.contacts {

    &__wrap {
        margin-left: 10px;    
    }

    &__address {
        padding: 10px 0;
        font-size: 14px;
        font-weight: bold;
    }

    &__title,
    &__descr {
        display: block;
        line-height: 1.2;
    }

    &__title {
        margin: 0;
        padding: 30px 0 10px 0;   
        font-size: 34px;
    }

    &__descr {
        font-size: 16px;
    }
}