.footer {
    padding: 15px 0;

    &__logo {
        color: $yellow;
    }

    &__title {
        margin-top: 12px;
        font-size: $fs-normal;
        text-align: center;
        line-height: $lh-base;
    }

    &__tel {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 15px;
        font-size: $fs-sm;
        line-height: $lh-normal;
        color: $black;
        border-radius: 8px;
        background: url('../../img/call-logo.svg') 7px -14px no-repeat;
        background-color: $yellow;        
        background-size: 88px 94px;

        // &:before {
        //     content: '';
        //     display: block;
        //     width: 30px;
        //     height: 30px;
        //     background: url('../../img/call-logo.svg') center no-repeat;
        //     background-size: cover;

        // }
    }

    &__telnum {        
        line-height: $lh-normal;
    }

    &__social { 

        &:before {
            content: '';
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 10px;
            background: url('../../img/instagram.svg') center no-repeat;
            background-size: contain;
        }
    }

    &__descr {
        color: #9a9a9a;
    }

    &__num {
        color: $white;
    }
}